{% extends 'layout/conatiner_fluid.html.twig' %}

{% block title %}{{ name }}{% endblock %}
{% block content_header %}{{ name }}{% endblock %}

{% block card_header %}
<i class="fa fa-file mr-1"></i>{{ 'memo.files.headline'|trans({}, 'pages') }}
{% endblock %}

{% block card_body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

        <ul>
            {% for data in content %}
                {% if data.type == 0 %}
                <li><a href="{{path('documents', {path: data.path|url_encode})  }}" class="folder-partei"><i class="fas fa-folder"></i> {{ data.fileName }}</a></li>
                {% else %}
                    {% if data.onDisk and data.extension != 'pdf' %}
                        <li><a href="{{ path('file', {path: [ data.path, '/', data.fileName]|join|url_encode}) }}" target="_blank" download="{{ data.fileName }}">{{ _self.filetype(data) }} {{ data.fileName }}</a></li>
                    {% else %}
                        <li><a href="{{ path('memo', {path: [data.path, '/', data.fileName]|join|url_encode}) }}">{{ _self.filetype(data) }}{{ data.fileName }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}


        </ul>

{% endblock %}

{% macro filetype(data)%}
    {% set class='fa-file' %}
    {% if data.extension == 'pdf' %}
        {% set class='fa-file-pdf' %}
    {% elseif data.extension == 'docx' %}
        {% set class='fa-file-word' %}
    {% endif %}
    <i class="fas {{ class }}"></i>
{% endmacro %}
