<!DOCTYPE html>

<title>Memo</title>

{% block body %}
    <h1>Memo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ memo.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ memo.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ memo.date ? memo.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ memo.location }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ memo.type }}</td>
            </tr>
            <tr>
                <th>FileName</th>
                <td>{{ memo.fileName }}</td>
            </tr>
            <tr>
                <th>Extension</th>
                <td>{{ memo.extension }}</td>
            </tr>
            <tr>
                <th>OnDisk</th>
                <td>{{ memo.onDisk ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ memo.uuid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('memo_index') }}">back to list</a>

    <a href="{{ path('memo_edit', {'id': memo.id}) }}">edit</a>

    {{ include('memo/_delete_form.html.twig') }}
{% endblock %}
