{% extends 'base.html.twig' %}

{% block title %}Memo{% endblock %}

{% block body %}
    <h1>Memo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ memo.Title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ memo.Content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ memo.Date ? memo.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ memo.Location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('memo_index') }}">back to list</a>

    <a href="{{ path('memo_edit', {'id': memo.id}) }}">edit</a>

    {{ include('memo/_delete_form.html.twig') }}
{% endblock %}
