{% extends 'layout/conatiner_fluid.html.twig' %}

{% block title %}{{ 'title'|trans({'%name%': name}, 'search') }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div class="card card">
            <div class="card-header">{{ 'headline'|trans({}, 'search') }}</div>
            <div class="card-body">
                <form method="post">
                    <div class="row card-text">
                        <div class="col col-md-10 col-sm-10">
                            <input type="text" value="{{ searchText }}" name="searchText" id="inputSearchText" class="form-control py-4" required autofocus>
                        </div>
                        <div class="col">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('search') }}" >
                            <button class="btn btn-lg btn-partei" type="submit">
                                {{ 'search'|trans({}, 'search') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div style="height: 30px"></div>
        {% if app.request.method == "POST" %}
            <div class="card card">
                <div class="card-header">{{ 'results.headline'|trans({}, 'search') }}</div>
                <div class="card-body">
                    <div class="list-group">

                        {% if result|length == 0 %}
                            <div class="alert alert-warning" role="alert">
                                {{ 'results.no'|trans({}, 'search') }}
                            </div>
                        {% else %}
                            {% for result in result %}
                                <a href="{{ path('search_result', {'path': result.path|url_encode}) }}" class="list-group-item list-group-item-action">
                                    {{ result.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
