{% extends 'layout/conatiner_fluid.html.twig' %}

{% block content_header %}
        {{ 'headline'|trans({}, 'wiki') }}
{% endblock %}
{% block card_header %}
        {{ 'overview'|trans({}, 'wiki') }}
{% endblock %}
{% block card_body %}
        {% for key, entries in wikis %}
        <ul class="list-group">
                <li class="list-group-item active" data-toggle="collapse" href="#collapse{{ key }}" role="button" aria-expanded="true" aria-controls="collapse{{ key }}">{{ key }}</li>
                {% for name, entry in entries %}

                <div class="collapse show" id="collapse{{ name }}">
                <li class="list-group-item"><a href="{{ path('wiki_show', {'path': entry|url_encode}) }}">{{ name }}</li>
                </div>
                {% endfor %}
        </ul>
        {% endfor %}
        <a href="{{ path('wiki_new') }}" class="btn btn-secondary">{{ 'new_entry'|trans({}, 'wiki') }}</a>
{% endblock %}