{% extends 'layout/conatiner_fluid.html.twig' %}

{% block title %}{{ name }}{% endblock %}
{% block content_header %}{{ name }}{% endblock %}

{% block card_header %}
<i class="fa fa-file mr-1"></i>{{ 'memo.files.headline'|trans({}, 'pages') }}
{% endblock %}

{% block card_body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

        <ul>
            {% for data in content %}
                <li><a href="{{path('memo-edit', {path: data|url_encode})  }}">{{ data }}</a>
                    <a href="{{ path('memo-delete', {path: data|url_encode}) }}"> <span class="badge badge-danger badge-pill">{{ 'memo.delete.button'|trans({}, 'pages') }}</span></a>
                </li>
            {% endfor %}
        </ul>

{% endblock %}
